.feedback{
    font-family: 'Century Gothic';
    margin-top: 120px;
}

.feedback__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.feedback__text{
    background-color: #CBCBCB;
    color: #222222;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    padding: 10%;
}

.feedback__item{
    width: 30%;
}

.feedback__text img{
    margin-bottom: 45px;
}

.feedback__user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 40px;
}

.feedback__user img{
    width: 40%;
}

.feedback__line{
    width: 40px;
    height: 2px;
    background-color: #222222;
}

.feedback__name h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0.2rem;
}

.feedback__name span{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

}

.feedback__note{
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #871212;
    text-transform: uppercase;
}

.feedback__wrapper h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 49px;
    margin-bottom: 20px;
}

.feedback__wrapper h2 span {
    font-weight: 400;
}


.mySwiper{
    width: 100%; 
    position: relative;
    overflow: hidden;
}

.mySwiper2{
    width: 100%; 
    position: relative;
    overflow: hidden;
}


.swiper-button-prev::after {
    color: #871212;
}
.swiper-button-next::after {
    color: #871212;    
}

.swiper__arrow-left{
    position: absolute;
}

.swiper-pagination span{
    background-color: #871212 !important;
}

.mySwiperWrapper2{
    display: flex;
    align-items: center;
}

@media (max-width: 1223px) {
    .feedback__wrapper {
        padding: 10px;
        
    }
} 

@media (max-width: 1099px) {
    .feedback__info{
        font-size: 14px;
    }
    .feedback__svg{
        width: 40px;
    }


    .feedback__user{
        width: 100%;
    }

    .feedback__user img{
        width: 20%;
    }
    .feedback__name h4{
        font-size: 16px;
    }
} 

@media (max-width: 953px) {
    .feedback__text img{
        margin-bottom: 20px;
    }
} 

@media (max-width: 873px) {
    .feedback__name h4{
        font-size: 14px;
    }
    .feedback__user img{
        width: 25%;
    }

    .feedback__item{
        width: 90%;
        margin-bottom: 20px;
    }

    .feedback__wrapper h2  {
        text-align: center;
    }
} 

@media (max-width: 619px) {
    .feedback__wrapper h2  {
        font-size: 40px;
    }
} 